/* Bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* Universal selector */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* :root */
:root{
    --primary: black;
    --secondary: rgb(255, 255, 255);
    --alternative: hsl(107, 20%, 38%);
    --awesome: hsla(108, 99%, 31%, .4);
    --main-BShadow: -8px 9px 20px 8px rgba(93,122,120,0.86);
}
/*
box-shadow: -8px 9px 20px 8px rgba(93,122,120,0.86);
-webkit-box-shadow: -8px 9px 20px 8px rgba(93,122,120,0.86);
-moz-box-shadow: -8px 9px 20px 8px rgba(93,122,120,0.86);
*/
/* Utilities classes */
.d-flex {
    display: flex;
}
.flex-column {
    flex-flow: column wrap;
}
.space-between {
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gtc-19 {
    grid-template-columns: repeat(19, 1fr);
}
.gtr-6 {
    grid-template-rows: repeat(6, 1fr);
}
/* Container */
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #4a9758, #91d39a, #7cc484, #667e68, #8ddb8f);
}
.container>*{
    padding-block: .5rem;
    margin-inline: .2rem;
    width: 100%;
}
.row:first-child{
    height: 40vh;
}

.row:last-child {
    background-color: rgba(46, 42, 42, .7);
    padding: .2rem;
    flex-grow: 1;
}
/* Keys */
button {
    margin: .2rem;
}
button[data-title="backspace"],
button[data-title="enter"] {
    grid-column: 14/16;
}
button[data-title="tab"],
button[data-title="caps"],
button[data-title="shift"]{
    grid-column: 1/3;
}
button[data-title="plus"]{
    grid-column: -2/-1;
    grid-row: -5/-3;
}
button[data-title="enter-right"] {
    grid-column: -2/-1;
    grid-row: -3 / -1;
}
button[data-title="space"] {
    background-color: var(--alternative);
    grid-column: 5/10;
}
button[data-title="shift-right"] {
    grid-column: 13 / 16;
}
div[data-title="arrow-wrapper"] {
    grid-column: 12/16;
}
button[data-title="zero-right"] {
    grid-column: 16 / 18;
}
/* media query */
@media screen and (width < 900px) {
    .row:last-child{
        grid-template-columns: repeat(10, 1fr);
    }
}